.dancer-name {
    margin-top: 1.2rem;
    margin-bottom: 1.09333rem;
}

ul, li {
    width: 100%;
}

.collapsible {
    margin: 0px;
}

.row-dancer, .row-extra-info, .row-collapsible {
    width: 90%;
    margin-bottom: 0rem;
}

.btn-small {
    margin-top: 0.6rem;
    margin-bottom: 1.09333rem; 
}

.card {
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    border: 0.5px solid lightgray;
}

.sidenav li {
    line-height: normal;
}

.sidenav .collapsible-body {
    background-color: transparent;
    padding-bottom: 1.09rem
}